/*++++++++++++++++++++++++*/
/*+  Headers properties  +*/
/*++++++++++++++++++++++++*/

/* Header size */
$h1Size: 1.8rem;
$h2Size: 1.4rem;
$h3Size: 1.2rem;
$h4Size: 1rem;
$h5Size: 0.8rem;
$h6Size: 0.6rem;

/* Header margin */
$hMargin: 1.6rem 0;

/* Variables for media queries */
/* @media all and (min-width: 768px) */

/* Header size */
$h1SizeMedia768: 2.2rem;
$h2SizeMedia768: 1.8rem;
$h3SizeMedia768: 1.6rem;
$h4SizeMedia768: 1.4rem;
$h5SizeMedia768: 1.2rem;
$h6SizeMedia768: 1rem;

/* Header margin */
$hMarginMedia768: 1.8rem 0;




/*++++++++++++++++++++++++*/
/*+ Paragraph properties +*/
/*++++++++++++++++++++++++*/

/* paragraph line-height */
$pLineHeight: 30px;

/* Paragraph color */
$pColor: #414549;

/* Paragraph margin */
$pMargin: 30px;

/* Paragraph size */
$pSize: 0.9rem;

/* Variables for media queries */
/* @media all and (min-width: 768px) */

/* Paragraph size */
$pSizeMedia768: 1rem;

/* Paragraph margin */
$pMarginMedia768: 35px;




/*+++++++++++++++++++*/
/*+ Span properties +*/
/*+++++++++++++++++++*/

/* Span size */
$spanSize: 0.8rem;

/* Span color */
$spanColor: #8c8c8c;

/* Span margin */
$spanMargin: 20px;

/* Variables for media queries */
/* @media all and (min-width: 768px) */

/* Span size */
$spanSizeMedia768: 0.9rem;

/* Span margin */
$spanMarginMedia768: 25px;
